@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
:root{
    font-size: 62.5%; 
    --primary-green: #B4FF00;
    --primary-green-2: #C6FF00;
    --primary-green-3: #D5FF51;
    --primary-text: #CCCCCC;
    --primary-white: #FFFFFF;
    --primary-grey: #181818;
 
}

/* font-family: "Orbitron", sans-serif;
font-family: "Montserrat", sans-serif; */

body{
    max-width: 1440px;
    width: 100%;
    background-color: var(--primary-grey);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.herobg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-grey);
    background-image: url(../ASSET/workout\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
}

/* header */

header{
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h5{
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-white);
    cursor: pointer;
}

.desktop-nav{
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.desktop-nav ul{
    padding: 0 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.desktop-nav .link{
    font-size: 1.6rem;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition-duration: 1s;
    color: var(--primary-white);
}

.link:hover{
    border-bottom: 2px solid #d5fd517b;
    color: #d5fd517b;
    transition: ease-in-out;
    transition-duration: 1s;
}

.link.clicked{
    border-bottom: 2px solid var(--primary-green);
    color: var(--primary-green);
    transition: ease-in-out;
    transition-duration: 1s;
}

.E-link{
    font-size: 1.6rem;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-green);
    color: #000000;
    border-radius: 50px;
    padding: 10px 20px;
}

#burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    position: fixed;
    right: 30px;
    top: 20px;
  }
  
  #burger-icon {
    width: 30px; /* Adjust as needed */
  }

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70%;
    background: rgba(11, 13, 23, 0.9);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    text-align: start;
}

.mobile-nav ul .link {
    color: var(--primary-white);
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    width: fit-content;
    margin: 50px 0;
}

.mobile-nav .link.clicked{
    border-bottom: 2px solid var(--primary-green);
    color: var(--primary-green);
    transition: ease-in-out;
    transition-duration: 1s;
}
/* end */

/* Hero Section */

.hero-section{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 70px);
    place-content: center;
}

.hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1{
    font-size: 4rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    color: var(--primary-white);
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.hero-text h1 span{
    letter-spacing: 6px;
    font-size: 5rem;
    color: var(--primary-green);
}

.hero-text p{
    width: 600px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    text-align: center;
    margin-bottom: 20px;
}

.hero-buttons{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.start{
    width: fit-content;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-family: "orbitron", sans-serif;
    font-weight: 700;
    color: #000000;
    border-radius: 50px;
    background-color: var(--primary-green); 
    border: 1px solid transparent;
}

.start:hover{
    background-color: transparent;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    transition: ease-in-out;
    transition-duration: 1s;
}

.explore{
    width: fit-content;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-family: "orbitron", sans-serif;
    font-weight: 700;
    background-color: transparent;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    border-radius: 50px;
}

.explore:hover{
    background-color: var(--primary-green);
    color: #000000;
    transition: ease-in-out;
    transition-duration: 1s;
}

/* Records */
.records{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

hr{
    display: none;
}

.records div{
    width: fit-content;
    place-content: center;
    height: 70px;
    padding: 0 10px;
    border-right: 3px solid var(--primary-green);
}

.records div:last-child{
    border-right: none;
}

.records h4{
    font-size: 1.2rem;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: var(--primary-white);
}

.records span{
    font-size: 2.3rem;
    font-family: "orbitron", sans-serif;
    font-weight: 700;
}

.shadeone{
    color: var(--primary-green-2);
}

.shadetwo{
    color: var(--primary-green-3);
}

.records p{
    font-size: 1.0rem;
    font-family: "montserrat", sans-serif;
    font-weight: 100;
    color: var(--primary-text);
}

/* Blank */

.blank-section{
    width: 100%;
    height: 50vh;
    background-color: var(--primary-grey);
    background-image: url(../ASSET/workout\ 9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
}

/* Footer */
footer {
    width: 100%;
    background: var(--primary-grey);
    padding: 50px 0 10px 0;
    height: fit-content;
    /* text-align: center; */
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section h2 {
    color: var(--primary-green);
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-section p {
    width: 300px;
    color: var(--primary-green);
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--primary-text);
}

.footer-links h3 {
    color: var(--primary-green);
    font-size: 2.0rem;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    color: var(--primary-green);
}

.footer-links div {
    margin-right: 20px; 
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul  li a{
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    text-decoration: none;
    cursor: pointer;
}

.footer-links ul li a:hover {
    color: var(--primary-green); 
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 20px;
    color: white;
    margin-right: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--primary-green);
}

.copyright {
    margin-top: 20px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--primary-text);
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 992px) {
    /* header */

header{
    padding: 0 20px;
}

.desktop-nav{
    padding: 0;
}

.desktop-nav ul{
    padding: 0;
    gap: 20px;
}

/* Hero Section */

.hero-text h1{
    font-size: 3.5rem;
}

.hero-text h1 span{
    font-size: 5rem;
}

/* Footer */

.footer-container {
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

}

/* Show burger menu and hide desktop nav on small screens */
@media (max-width: 660px) {

    header{
        align-items: center;
    }
    
    #burger-menu {
        display: block;
    }
    
    .desktop-nav {
        display: none;
    }
    
    .mobile-nav.show {
        display: flex;
        z-index: 100;
        transform: translateX(0);
    }

    .hero-text{
        gap: 20px;
    }

    .hero-text p{
        width: 90%;
        font-size: 1.6rem;
    }

    .hero-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .start{
        width: 250px;
        text-align: center;
        font-size: 1.6rem;
    }
    
    .explore{
        width: 250px;
        text-align: center;
        font-size: 1.6rem;
    }

    .records{
        display: none;
    }
    

/* Footer */

.footer-section p {
    font-size: 1.6rem;
}

.footer-links h3 {
    font-size: 1.8rem;
}

.footer-links {
    justify-content: space-between;
}


.copyright {
    font-size: 1.6rem;
} 

    /* end */
}    